<section [ngClass]="{ loading: !taskList.length }">
  <ul *ngIf="taskList.length">
    <li *ngFor="let task of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="task.checked" />
      <input
        [ngClass]="{ checked: task.checked }"
        type="text"
        [(ngModel)]="task.text"
      />
      <button (click)="deleteTask(i)">
        <img src="assets/icons/icon-trash.svg" alt="Deletar tarefa" />
      </button>
    </li>
  </ul>
</section>
<app-todo-input-add-items
  (emitAddTask)="onAddTask($event)"
></app-todo-input-add-items>
<app-todo-button-delete-all
  (click)="deleteAll()"
  *ngIf="taskList.length"
></app-todo-button-delete-all>
